.list li {
  display: inline-block;
  font-size: 20px;
  margin-right: 35px;
  font-size: $font-size-lg;

  &:last-child {
    margin-right: 0;
  }
}

a {
  text-decoration: none;
  color: whitesmoke;
}
